<div class="row">
    <div class="col-sm-4">
        <strong>Data Binding</strong><br />
        <i (click)="convert()">{{title}}</i>
        <div>
            <img [src]="imgloc" />
        </div>
        <div class="mt-1">
            <button class="btn btn-primary" (click)="changeStatus()">On/Off</button>
        </div>
        <div class="mt-1">
            <p>
                Two-way - Binding
                <input type="text" class="form-control" [(ngModel)]="username">
            </p>
            <p>
                {{username}}
            </p>
        </div>
    </div>
    <div class="col-sm-4">
        <h5>User Details</h5>
        <div class="card" style="width: 18rem;" *ngFor="let user of users">
            <div class="card-body" *ngIf="user.isActive">
                <h5 class="card-title">{{user.username | uppercase}}</h5>
                <p class="card-text">{{user.mobile}} - {{user.email}}</p>
                <a href="#" class="btn btn-primary">More...</a>
            </div>
        </div>

    </div>
    <div class="col-sm-4"></div>
</div>